* {box-sizing: border-box;}

body {font-family: Arial, Helvetica, sans-serif;}

body, h1, h2, h3, ul, p {margin:0;} /*обнуляем отступ сверху*/

ul{
    padding: 0; /*браузер автоматически создает отступ у списка, мы его убираем*/
    list-style-type: none; /*убираем маркеры у списков*/
}

header {
    padding: 150px 0; /*внутренние отступы сверху и снизу 150 пикселей */
    background-image: url(./../image/background/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.container { /*создаем контейнер в котором будут наши элементы*/
    width: 960px;
    margin: 0 auto; /*центруем контейнер с текстом*/

}

.logo{
    position: absolute;
    top: 30px;
    left: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px; /*расстояние от низа навигации до верха текста или просто отступ снизу*/
}

nav a{
    font-size: 30px;
    font-weight: 700; /* Bold */
    text-decoration: none;
    color: white;
}

nav a:hover /* поведение текста при наведении*/ {text-decoration: underline;}

.header-content{width: 438px;}

.header-content h1{
    font-weight: 400;
    font-size: 52px;
    line-height: 60px;
    color: #FFFFFF;
    text-shadow: 4px 1px 5px rgba(0, 0, 0, 0.41);
    margin-bottom: 30px;
}

.header-content p{
font-weight: 400;
font-size: 20px;
line-height: 175%; /*расстояние между строками*/
color: #FFFFFF;
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);

}

main{
    padding: 100px 0; /* отступы сверху и снизу 100пх, 0 слева и справа*/

}

.main-content{
    display: flex;
    justify-content: space-between;
}

.left-column{
    width: 267px;
}

.left-column p{

font-size: 20px;
line-height: 1.4;
font-style: italic;
color: #FE992A;
}

.right-column{
    width: 653px;
    padding-left: 39px;
    border-left: 1px solid #EAEAEA;
}

.right-column h2{
    font-size: 24px;
    color: #FE992A;
    margin-bottom: 12px; /*отступ снизу*/

}

.right-column p{

font-size: 14px;
line-height: 200%;
color: #737C85;


}

.right-column a{
 color: #737C85;   
}


footer{
    padding: 100px 0; /* Сверху и снизу отступ 100пх, справа и слева 0*/
    background-color: #E56C69;
    
}

.footer-content-wrap{
    display: flex;
    justify-content: space-between;
    
}

.footer-left ul{
    margin-top: 25px;
}

.footer-left > a{
    font-size: 14px;
    line-height: 1;
    display: block;
    
}

.footer-right{
    display: flex; /*чтобы все встало в строку а не в столбик */
    column-gap: 75px;
}

footer h3{
font-size: 18px;
line-height: 100%;
color: #FFFFFF;
margin-bottom: 15px;
}

footer li{
    font-size: 14px;
    line-height: 1;
    margin-bottom: 15px;
    color: white;
}

footer li:last-child{
    margin-bottom: 0;
}

footer a{
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover /* поведение текста при наведении*/ {text-decoration: underline;}